@media screen {
    .backgroundImage {
        position: fixed;
        overflow-y: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #B8BAD0 url('/assets/background.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .fogBackground {
        /* background: linear-gradient(160deg, #D2D4ED00 0%, #D2D4ED11 50%, #D2D4EDFF 100%); */
        background: linear-gradient(135deg, #FDFDFD 0%, #FDFDFD 60%, #D2D4ED 100%);
    }
}

@media print {
    body {
        background: white !important;
    }
}

a {
    color: #504c49;
}

.mapicon {
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    border: 0px;
    border-radius: 5px;
    overflow: hidden;
    color: #fff;
    background-color: #f00;
    transform-origin: center center;
}

.calendar-table { font-size: 0.75rem; width: 100%; min-width: 475px; padding: 0 !important; margin: 0 !important; border-collapse: collapse; }
.calendar-table th, .calendar-table td { border: 1px solid #DDD; text-align: center; border: 1px solid #e5e5e5; }
.calendar-table th { background: #F9F9F9; }
.calendar-table.calendar-table-portrait tr > * { width: 7.8947%; }
.calendar-table.calendar-table-portrait tr > *:first-child { width: 5.2631%; }
.calendar-table.calendar-table-landscape tr > * { width: 2.941%; }
.calendar-table.calendar-table-landscape tr > *:first-child { width: 4.4115%; }
.calendar-table.calendar-table-landscape tr > *:last-child { width: 4.4115%; }
.calendar-table thead th:first-child { background: #fff; border-top: 1px solid #fff; border-left: 1px solid #fff; }
.calendar-table.calendar-table-landscape thead th:last-child { background: #fff; border-top: 1px solid #fff; border-right: 1px solid #fff; }
.calendar-table.calendar-table-portrait tfoot th:first-child { background: #fff; border-bottom: 1px solid #fff; border-left: 1px solid #fff; }
.calendar-table td.no-date { background: #F5F5F5; }
.calendar-table td.date { cursor: pointer; }
.calendar-table td.date:hover { background: #FCF8E3; }
.calendar-table td.date.active { background: #CFC; }
.calendar-table td.date.pending { background: #CCF; }
.calendar-table td.date.sending { background: #99F; }
.calendar-table td.date.error { background: #FCC; }
.calendar-table td.total { background: #F9F9F9; }
.calendar-table td.total.total-right { text-align: right; padding-right: 3px; }
